@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: separate;
}

caption {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th, td.media {
    background-color: gray;
    color: white;
}